<footer class="site-foot">
  <div class="site-foot_content">
    <div class="site-foot_home">
      <a class="title" href="{{ linkify('/') }}">{{ site.name }}</a>
    </div>
    <div class="site-foot_links">
      <a href="{{ linkify('/archive/') }}">Archive</a>
    </div>
  </div>
</footer>
<div class="typlog-foot">
  <div>Powered by <a class="title" href="https://typlog.com/?utm_source={{ site.slug }}&utm_medium=theme">Typlog</a></div>
</div>