{% block style %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Bungee+Shade&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ static_url }}ginza.css">
{% endblock %}

{% block body %}
<body class="home">
  <header>
    <a class="title" href="{{ linkify('/') }}">
      <h1>{{ site.name }}</h1>
    </a>
    <nav>
      <a href="{{ linkify('/') }}">Home</a>
      {% if site.primary_links %}
        {% for nav in site.primary_links %}
        <a href="{{ nav.url }}">{{ nav.title }}</a>
        {% endfor %}
      {% endif %}
    </nav>
  </header>

  <main>
    {% if site.summary %}
    <div class="hero">
      <blockquote class="hero-quote">
        "{{ site.summary }}"
      </blockquote>
    </div>
    {% else %}
    <div class="hero">
      <blockquote class="hero-quote">
        "The universe reveals its secrets to those who dare to follow their hearts."
        <cite>—— Ralph Smart</cite>
      </blockquote>
    </div>
    {% endif %}
  </main>

  <footer>
    <p>Crafted with ❤️</p>
  </footer>
</body>
{% endblock %}