{% block style %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Bungee+Shade&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ static_url }}ueno.css">
{% endblock %}

{% block body %}
  <div class="body">
    {% include "./_side.j2" %}
    <div class="main">
      <div class="inner main_mark">
        <ul class="simple-list">
          {% set subjects = query.latest_subjects(count=15) %}
          {% for subject in subjects %}
          <li>
            <time>{{ subject.published_at.strftime('%Y-%m-%d') }}</time>
            <a href="{{ linkify(subject.url) }}">{{ subject.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% if subjects|count == 15 %}
          {% set last = subjects|last %}
          <div class="home-more">
            <a href="{{ linkify(site.list_url) }}{{last.published_at.year}}/">ARCHIVE →</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% include "./_foot.j2" %}
{% endblock %}