{% from "macros.j2" import render_item %}

{% block style %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Bungee+Shade&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ static_url }}ginza.css">
{% endblock %}

{% block body %}
<body class="solazy-list">
  <header>
    <a class="title" href="{{ linkify('/') }}">
      <h1>{{ site.name }}</h1>
    </a>
    <nav>
      <a href="{{ linkify('/') }}">Home</a>
      {% if site.primary_links %}
        {% for nav in site.primary_links %}
        <a href="{{ nav.url }}">{{ nav.title }}</a>
        {% endfor %}
      {% endif %}
    </nav>
  </header>

  <main>
    {% if page.type == 'tag' %}
      <h2>{{ page.topic.name }}</h2>
    {% elif page.type == 'author' %}
      <h2>{{ page.topic.name }}</h2>
    {% else %}
      <h2>Article</h2>
    {% endif %}

    <ul class="blog-posts">
      {% for subject in page.items %}
      <li>
        <time>{{ subject.published_at.strftime('%Y-%m-%d') }}</time>
        <a href="{{ linkify(subject.url) }}">{{ subject.title }}</a>
      </li>
      {% endfor %}
    </ul>

    {% if page.years %}
    <div class="navigation">
      {% for year in page.years|reverse %}
        {%- set url = page.base_url + year|string + '/' -%}
        <a{% if page.year == year %} class="active"{% endif %} href="{{ linkify(url) }}">{{ year }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </main>

  <footer>
    <p>Crafted with ❤️</p>
  </footer>
</body>
{% endblock %}