/* TENG: Bungee Shade Logo - MUST be first */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

/* TENG: Custom Styles */
.side_title,
.side_title a {
  font-family: 'Bungee Shade', cursive !important;
}


/* TENG: Simple List Style */
.item time {
  font-size: 13px;
  opacity: 0.6;
  margin-right: 12px;
}

.item.Text h3,
.item.Image h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.item-subtitle {
  display: none;
}

.item {
  padding: 12px 0;
}
